%reset-btn {
  -webkit-appearance: none;
  border: 1px solid transparent;
  background: none;
  outline: none;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  top: 0;
  left: 0;
  transform: none; 
  font-family: "Fira Sans";
}

#headerGfw, #footerGfw {
  // Btn
  .btn {
    @extend %reset-btn;
    background: $border1;
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 0px 12px;
    border-radius: 40px;
    font-size: 14px;
    text-decoration: none;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
    transition: background .15s linear;

    &:hover {
      background: $primary-color;
      text-decoration: none !important;
    }

    &.uppercase { text-transform: uppercase;}

    // Sizes
    &.medium {
      // font-size: 18px;
      text-transform: uppercase;
      padding: 0px 35px;
    }

    // Colors
    &.gray {
      color: $dark;
      background: $white;
      border-color: $primary-color;
      &:hover {
        background: darken($white,5%);
      }
    }
    &.green {
      color: $white;
      background: $primary-color;
      &:hover {
        background: darken($primary-color,10%);
      }
      &.disabled{
        &:hover {
          background: $primary-color;
        }
      }
    }
    &.red {
      color: $white;
      background: $red;
      &:hover {
        background: darken($red,10%);
      }
      &.disabled{
        &:hover {
          background: $red;
        }
      }
    }
    &.orange {
      color: $white;
      background: $orange;
      &:hover {
        background: darken($orange,10%);
      }
      &.disabled{
        &:hover {
          background: $orange;
        }
      }
    }
    &.blue {
      color: $white;
      background: $blue;
      &:hover {
        background: darken($blue,10%);
      }
      &.disabled{
        &:hover {
          background: $blue;
        }
      }
    }
    &.disabled{
      opacity: 0.25;
      cursor: default;
    }
  }
}
