.section-test {
  *, *:after, *:before {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
  }
  
  .wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0px;
    width: 100%;

    @media (min-width: $br-mobile){
      max-width: 1024px;
      width: 95%;
    }

    @media (min-width: $br-desktopbig){
      max-width: 1200px;
      width: 75%;
    }
  }
}